<header class="masthead">
    <div class="col-lg-12 text-center">
        <h1 id="homeHeading">Saved Articles</h1>
        <h3 id="subHeading">Your Saved Articles</h3>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{#if article}} {{#each article}}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="article-heading">{{this.title}}</h4>
                        <button type="button" class="btn btn-info addComment" data-toggle="modal" data-target="#commentModal{{this._id}}" data-id={{this._id}}>Article Comments</button>
                        <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                    </div>
                    <div class="panel-body">
                        <p> {{this.summary}}</p>
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br>
                    </div>
                </div>
                {{/each}} {{else}}
                <div class="panel panel-warning">
                    <div class="panel-body text-center">
                        <h4>You have no saved articles.</h4>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    </div>

    {{#each article}} {{> comments }} {{/each}}